tmp/
components/
managed_components/
build/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd

# Generated in CI from the JAMENDO_CLIENT_ID secret
main/boards/robothings-s3-mini/jamendo_config.h

# Generated in CI
main/boards/robothings-s3-mini/robothings_build_config.h
